{% extends 'base_admin_board.html.twig' %}

{% block title %}Datos Metabase{% endblock %}

{% block content %}
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title ">Metabase</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive ">
                    <table class="table table-responsive-sm table-striped ">
                        <thead>
                        <tr class="text-left">
                            <th>Id</th>
                            <th>Lema <br/>
                                <small>Lema Principal</small></th>
                            <th>Meta Descripcion</th>
                            <th>Meta Autor</th>
                            <th>Meta Title</th>
                            <th>Meta Type <br/>
                                <small>Meta Url</small></th>
                            <th>Site Name</th>
                            <th>Site mail <br/>
                                <small>Mail replay</small></th>
                            <th>Unidad reserva</th>
                            <th><i class="fa fa-cogs"></i> </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for meta_base in meta_bases %}
                            <tr class="text-left">
                                <td>{{ meta_base.id }}</td>
                                <td>{{ meta_base.lema }} <br/>
                                    <small>{{ meta_base.lemaPrincipal }}</small></td>
                                <td>{{ meta_base.metaDescripcion }}</td>
                                <td>{{ meta_base.metaAutor }}</td>
                                <td>{{ meta_base.metaTitle }}</td>
                                <td>{{ meta_base.metaType }} <br/>
                                    <small>{{ meta_base.metaUrl }}</small></td>
                                <td>{{ meta_base.siteName | default('Reserva') }}</td>
                                <td>{{ meta_base.emailBase| default('No tiene') }} <br/>
                                    <small>{{ meta_base.emailReply| default('No tiene') }}</small></td>
                                <td>{{ meta_base.unidadReserva| default('No tiene') }}</td>
                                <td>
                                    <a href="{{ path('meta_base_edit', {'id': meta_base.id}) }}">
                                        {{ include('bases/_editar.html.twig') }}
                                    </a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="10">Todavía no tienes metabase</td>
                                <td>
                                    <a href="{{ path('meta_base_new') }}">
                                        {{ include('bases/_crear_nuevo.html.twig', {'button_label':'Crea tu metabase'}) }}

                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}