{% extends 'base_admin_board.html.twig' %}
{% form_theme regristroForm _self %}
{% block form_row %}
    {%- set widget_attr = {} -%}
    {%- if help is not empty -%}
        {%- set widget_attr = {attr: {'aria-describedby': id ~"_help"}} -%}
    {%- endif -%}

    {{- form_label(form, null, {
        label_attr: { class: 'sr-only' }
    }) -}}
    {{- form_errors(form) -}}
    {{- form_widget(form, widget_attr) -}}
    {{- form_help(form) -}}

{% endblock %}
{% block _user_registration_form_aceptaTerminos_row %}


    <div class="custom-control custom-checkbox mb-3">

        {{ form_errors(form) }}

        <input type="checkbox" class="custom-control-input" name="{{ full_name }}" id="{{ id }}">
        <label class="custom-control-label u-font-size-90" for="{{ id }}">{{ label }} </label>
        {{ form_help(form) }}
    </div>


{% endblock %}

{% block title %}Ingreso {{ base.siteName | default('Reserva') }} {% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('loginStyle') }}
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
{% endblock %}

{% block sections %}

    {% if app.user %}
        <div class="mb-3">
            Usted a ingresado como {{ app.user.username }}, <a href="{{ path('app_logout') }}"><i
                        class="fas fa-sign-out-alt"></i> Salir</a>
        </div>
    {% endif %}

    {{ form_start(regristroForm, {
        'attr':{
            'class': 'form-signin'
        }
    }) }}
    <h1 class="h3 mb-3 font-weight-normal">Registro de Usuarios de {{ app.request.baseUrl }} </h1>

    {{ form_row(regristroForm.email, {
        attr: { placeholder: 'Email' }
    }) }}
    {{ form_row(regristroForm.plainPassword.first, {
        attr: { placeholder: 'Clave' }
    }) }}
    {{ form_row(regristroForm.plainPassword.second, {
        attr: { placeholder: 'Repita Clave ' }
    }) }}
    {{ form_row(regristroForm.primerNombre, {
        attr: { placeholder: 'Nombre de usuario ' }
    }) }}
    {{ form_row(regristroForm.aceptaTerminos) }}
    <button class="btn btn-lg btn-primary" type="submit">
        Registrar
    </button>
    {% if(is_granted("ROLE_ADMIN_RESERVA")) %}
        {{ form_row(regristroForm.roles) }}
    {% endif %}

    {{ form_end(regristroForm) }}
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {{ encore_entry_script_tags('login') }}
{% endblock %}
