{% extends 'base_reservation.twig' %}


{% form_theme regristroForm _self %}



{% block title %}Ingreso {{ base.siteName | default('Reserva') }} {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('loginStyle') }}
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
{% endblock %}

{% block sections %}

    {% if app.user %}
        <div class="mb-3">
            Usted a ingresado como {{ app.user.username }}, <a href="{{ path('app_logout') }}"><i
                        class="fas fa-sign-out-alt"></i> Salir</a>
        </div>
    {% endif %}
    {% if(is_granted("ROLE_ADMIN_RESERVA")) %}

    {{ form_start(regristroForm, {
        'attr':{
            'class': 'form-signin'
        }
    }) }}
    <h1 class="h3 mb-3 font-weight-normal">Registro de Voluntarios de {{ base.siteName}} </h1>

    {{ form_row(regristroForm.primerNombre, {
        attr: { placeholder: 'Nombre de usuario ' }
    }) }}

    <button class="btn btn-lg btn-primary" type="submit">
        Registrar Voluntario
    </button>

    {{ form_end(regristroForm) }}
    {% endif %}

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('app') }}
    {{ encore_entry_script_tags('login') }}
{% endblock %}