<style>
    .dropdown-menu {
        margin-left: -100px !important;
    }
    .navbar-toggler-icon {
        color: #6cbb23 !important;
        /*width: 1.1em !important;*/
        /*height: 1.5em !important;*/
    }
</style>

<!--    <div class="container-fluid">-->
<nav class="navbar navbar-expand-lg bg-white fixed-top mx-1 mb-sm-2 ArialMedium" style="height: 64px ">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" href="{{ path('index') }}">

                <img class="rounded d-none d-lg-block" src="{{ asset('images/logo.png') }} "
                     style="width: 130px;" alt="{{ base.siteName | default('Reserva') }}">
                <img class="rounded d-lg-none" src="{{ asset('/images/logo.png') }}" style="width: 35px;"
                     alt="{{ base.siteName | default('Reserva') }}">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="sr-only">Toggle navigation</span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <!-- Links -->
        {% include 'inicio/_menu.html.twig' %}
    </div>
</nav>
