{% extends 'base_admin_board.html.twig' %}

{% block title %}Admin {% endblock %}

{% block encabezado %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <div class="example-wrapper">
        <h3 style="font-family: ArialNova, sans-serif;">Panel Administración <br/>{{ base.siteName }}</h3>
    </div>

{% endblock %}

{% block content %}
    <div class="row vh-100">
        {% if (is_granted("ROLE_ADMIN")) %}
            <div class="card col-sm-4 col-lg-3 mx-auto ">
                <a class="btn btn-secondary" href="{{ path('meta_base_index') }}">
                    <div class="row no-gutters">
                        <div class="col-md-3 align-self-center text-center">
                            <i class="fas fa-map fa-4x text-primary"></i>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Meta datos</h5>
                                <p class="card-text">
                                    Los datos que identifican tu web
                                </p>
                                <p class="card-text">
                                    <small class="text-secondary">
                                        <i class="fas fa-mouse-pointer"></i> Administrar
                                    </small>
                                </p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        {% endif %}
        {% if (is_granted("ROLE_ADMIN_RESERVA")) %}
            {# {% include 'admin/list_metabase.html.twig' %} #}
            <div class="card col-sm-4 col-lg-3 mx-auto ">
                <a class="btn btn-secondary" href="{{ path('celebracion_index') }}">
                    <div class="row no-gutters">
                        <div class="col-md-3 align-self-center text-center">
                            <i class="fas fa-calendar-alt fa-4x text-primary"></i>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Celebraciones</h5>
                                <p class="card-text">
                                    Datos de la celebraciones
                                </p>
                                <p class="card-text">
                                    <small class="text-secondary">
                                        <i class="fas fa-mouse-pointer"></i> Administrar
                                    </small>
                                </p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

        {% endif %}
        {% if (is_granted("ROLE_RESERVA")) %}
            <div class="card col-sm-4 col-lg-3 mx-auto ">
            <a class="btn btn-secondary" href="{{ path('reserva_consulta') }}">
                <div class="row no-gutters">
                        <div class="col-md-3 align-self-center text-center">
                        <i class="fas fa-calendar-day fa-4x text-primary"></i>

                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Reservas</h5>
                                <p class="card-text">
                                    Consulta de reservas
                                </p>
                                <p class="card-text">
                                    <small class="text-secondary">
                                        <i class="fas fa-mouse-pointer"></i> Administrar
                                    </small>
                                </p>
                            </div>
                        </div>
                    </div>
            </a>
            <div class="card col-sm-4 col-lg-3 mx-auto ">
            <a class="btn btn-alameda" href="{{ path('reserva_lectura') }}">
                Lectura QR
            </a>
        {% endif %}

    </div>
{% endblock %}

{% block jslocal %}
    {{ parent() }}
    <script>
        $('#admin').addClass('active');
    </script>

{% endblock %}